  /* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }  */
body{
    height:100%;
    background-image: url(./raw-garganelli-pasta-with-halved-tomatoes-basil-corner-black-textured-backdrop.jpg);
    background-size:cover;  
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

#navbar {
    overflow: hidden;
    display:flex;
    justify-content: center;
    /* background-color: #333; */
    
  } 
#navbar a:hover {
    background-color: #ddd;
    color: black;
  }
#navbar a {
    float: center;
    display: block;
    color: #f2f2f2;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}
  /* #navbar a.active {
    background-color: white;
    color: black;
  } */
  .tabcontent{
    display: none;
    /* padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none; */
  }
#home{
   display:flex;
   flex-direction: column;
   /* border: 1px red solid; */
   color: white; 
}  
#menu{
  display:none;
  flex-direction: column;
  /* border: 1px red solid; */
  color: white; 
}  
#contact{
  display:none;
  flex-direction: column;
  /* border: 1px red solid; */
  color: white; 
}





/* home page contents */
#title{
    color:white;
    text-align: center;
    font-size: 42px;
    margin-top: 100px;
  }

#history{
    display: flex;
    /* flex-direction: row; */
    /* border:1px blue solid; */
    justify-content: right;
    margin-top: 100px;

}
/* dont really need */
#history p{
    display:flex;
    flex-direction: column;
    /* border: 1px red solid; */
    color:white;
    font-size: 30px;
    width: 600px;
    margin-right: 110px;
    text-align: center; 
    /* margin-top:200px; */
}
#historytext{
    display:flex;
    flex-direction: column;
    /* border: 1px red solid; */
    color:white;
    font-size: 30px;
    width: 600px;
    margin-right: 120px;
    text-align: center;

}
#history img{
    /* border: 1px red solid; */
    margin-right:50px;
}
#order{
  margin-top: 100px;
  border: 1px solid white;
  margin-left: 150px;
  margin-right: 150px; 
  padding-top: 10px;
  padding-bottom: 10px;
}
#order:hover {

    background-color: white;
    color:black;

}
#location{
  color:white;
  text-align: center;
  font-size: 18px;
  margin-right: 20px;
  margin-top : 200px;
}


/* menu contents */
#pizzamenu{
  margin:auto;
  margin-top: 10vh;
  font-size: 24px;
  padding-right: 300px;
}
#toppingmenu{
  margin:auto;
  margin-top: 10vh;
  font-size: 24px;
  padding-right: 300px;
}
#sidemenu{
  margin:auto;
  margin-top: 10vh;
  font-size: 24px;
  padding-right: 400px;

}
#menublock{
  display:flex;
  flex-direction: column;
  border: 1px red solid;
  width: 600px;
  margin:auto;
}
#menublock2{

  display:flex;
  flex-direction: column;
  border: 1px red solid;
  width: 600px;
  margin:auto;

}
/* could just make a class for menublocks */
#menublock3{
  display:flex;
  flex-direction: column;
  border: 1px red solid;
  width: 600px;
  margin:auto;

}
/* pizza items */
#menuitem{
  display:flex;
  border:1px white solid;
}
#toppingitem{
  display:flex;
  border:1px white solid;
}
#sideitem{
  display:flex;
  border:1px white solid;
}
#img1{
  border: 1px solid blue;
  height: 200px;
  width: 300px;
}
#img1text{
  text-align: center;
}

/* contactpage */
#contactblock{
  display:flex;
  flex-direction: column;
  border: 1px red solid;
  width: 600px;
  margin:auto;
}
#contactitem{
  display:flex;
  border:1px white solid;
}